/* ‾‾‾‾‾‾‾‾‾ */

/* Variables */

/* _________ */

:root {
    --main-bg-clr: #01161E;
    --alt-clr: #598392;
    --alt-clr-two: #aec3b0;
    --nav-gradient: linear-gradient(to right, var(--alt-clr), var(--alt-clr-two));
    --text-color-primary: #000;
    --container-padding: 0.5rem;
}

/* ‾‾‾‾‾‾‾‾‾‾‾‾ */

/* Reset styles */

/* ____________ */

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none
}

button, input, select {
    margin: 0
}

textarea, input {
    outline: none;
}

html {
    box-sizing: border-box
}

*, *::before, *::after {
    box-sizing: inherit
}

img, video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

/* ‾‾‾‾‾‾ */

/* Navbar */

/* ______ */

/* navbar bottom border */

nav {
    height: 5.2em;
    background: var(--nav-gradient);
    width: 100%;
    position: fixed;
    z-index: 10;
}

/* navbar content*/

.nav-content {
    padding: 0 2rem;
    height: 5em;
    background-color: var(--main-bg-clr);
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-logo {
    height: 90%;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 2rem;
}

.nav-link {
    font-size: 1.25rem;
    color: white;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover, .nav-button:hover {
    cursor: pointer;
}

/* link underline */

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -.1rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background: white;
}

.nav-link.not-active:hover {
    color: #aaa;
}

.nav-link.not-active::after {
    content: "";
    position: absolute;
    bottom: -.1rem;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background: var(--alt-clr);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
}

.nav-link.not-active:hover::after, .nav-link.not-active:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.1rem, 0);
    transform: translate3d(0, 0, 0);
}

/* auth btns */

.nav-link a {
    display: block;
    width: 100%;
    height: 100%;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    margin-left: auto;
    font-size: 1.25rem;
}

.nav-button {
    background-color: var(--alt-clr);
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: -3px 3px white, -2px 2px white, -1px 1px white;
    border: solid 1px white;
}

.nav-button:hover {
    transform: translate(-1px, 1px);
    box-shadow: -2px 2px white, -1px 1px white;
}

.nav-button:active {
    transform: translate(-2px, 2px);
    box-shadow: none;
}

#hamburger, #nav-check {
    color: white;
    display: none;
}

/* ‾‾‾‾‾‾‾‾‾‾‾ */

/* burger menu */

/* ___________ */

@media (max-width:58rem) {
    #hamburger {
        display: block;
    }
    #hamburger>label {
        display: block;
        width: 3rem;
        height: 3rem;
        padding: .75rem;
    }
    #hamburger>label:hover, #nav-check:checked~#hamburger>label {
        background-color: rgba(255, 255, 255, 0.3);
    }
    #hamburger>label>span {
        display: block;
        width: 1.5rem;
        height: .75rem;
        border-top: 2px solid #eee;
    }
    /* page link container */
    .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 5em;
        left: 0px;
        z-index: 1000;
    }
    /* auth btns */
    .nav-buttons {
        border-bottom: solid .2rem white;
        border-radius: 0 0 1rem 1rem;
        background-color: var(--alt-clr);
        padding: .5rem 0;
        margin: 0 auto;
    }
    .nav-button {
        display: inline-block;
        background-color: rgba(1, 22, 30, 0.6);
    }
    /* page link */
    .nav-link {
        transition: all 0.1s ease-in;
        text-align: center;
        font-size: 1.5rem;
        background-color: var(--alt-clr);
        height: 3.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-link a {
        line-height: 3.25rem;
    }
    .nav-link.active {
        background-color: white;
        color: #000;
        text-decoration: underline;
    }
    .nav-link.not-active:hover {
        background-color: var(--main-bg-clr);
    }
    /* menu height based on checkbox */
    #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    #nav-check:checked~.nav-links {
        height: 25em;
    }
}

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */

/* General page styles */

/* ___________________ */

body {
    background-color: darkgray;
}

/* full page bg */

main.mountain-bg {
    /* [1]J. Bishop, 2017. https://unsplash.com/photos/dR_q93lfaTw */
    background-image: url(images/bg.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    min-height: calc(100vh - 4rem);
    width: 100%;
    padding: 6.7rem 0;
}

.container {
    padding: 0 var(--container-padding);
    max-width: min(100vw, 1200px);
    min-width: 280px;
    margin: 0 auto;
}

.page-title {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 0 1.5rem 0;
    color: white;
}

/* ‾‾‾‾‾‾ */

/* Footer */

/* ______ */

footer {
    width: 100%;
    height: 4rem;
    background-color: var(--main-bg-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer a {
    color: var(--alt-clr-two);
}

/* ‾‾‾‾‾‾‾‾‾‾‾ */

/* Search Page */

/* ___________ */

.welcome {
    text-align: center;
    max-width: 500px;
    color: white;
    margin: 0 auto;
    border-radius: 1rem;
    font-weight: 400;
    background-color: rgba(1, 22, 30, 0.6);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 2rem;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 3rem auto;
    width: 70%;
    max-width: 800px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.search input {
    width: 100%;
    padding: 0 4rem;
    font-size: 1.75rem;
    border: 0;
    height: 4rem;
    border-radius: 4rem;
    background-color: rgba(255, 255, 255, .7);
    color: #000;
    filter: drop-shadow(5px 5px 1px var(--main-bg-clr));
}

.search input:focus {
    background-color: #fafafa;
}

.search input::placeholder {
    color: rgba(0, 0, 0, 0.75);
}

.search-button {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    color: rgba(255, 255, 255, .7);
    filter: drop-shadow(5px 5px 1px var(--main-bg-clr))
}

.search-button:hover {
    color: #fafafa;
}

/* responsive search bar and filter */

.search-icon.fa-2x {
    display: none;
}

.search-icon.fa-3x {
    display: block;
}

.select-dropdown {
    position: relative;
    width: 60%;
    max-width: 250px;
}

.select-dropdown select {
    padding: .5rem;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, .7);
    filter: drop-shadow(5px 5px 1px var(--main-bg-clr));
    border-radius: 1rem;
}

select:focus {
    outline: none;
    background-color: #fafafa;
}

.select-dropdown-option {
    background-color: var(--main-bg-clr);
    color: #fafafa;
}

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */

/* Sample results page */

/* ___________________ */

.sample-results {
    color: white;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(calc(280px - 2*var(--container-padding)), 1fr));
    gap: 2rem;
    border-radius: 1rem;
    background-color: rgba(1, 22, 30, 0.6);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* semi-transparent blue container */

.primary-transparent-bg {
    color: white;
    max-width: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgba(1, 22, 30, 0.6);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.result-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.result-title-contaier {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.result-name {
    font-size: 2em;
    font-weight: 500;
    text-decoration: underline;
}

.result-review * {
    outline: white;
}

.result-location {
    margin-bottom: 2rem;
}

.result-location, .result-image {
    text-align: center;
    align-self: center;
}

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾ */

/* Sample object */

/* _____________ */

.object-rating, .object-image {
    text-align: center;
}

.rating-value {
    font-size: 2rem;
    font-weight: bold;
}

.object-rating {
    margin-bottom: 1rem;
}

.object-rating span {
    vertical-align: middle;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
}

.sample-reviews {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.review {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    max-width: min(100vw, 1200px);
    min-width: 280px;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: var(--alt-clr);
    max-width: 600px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */

/* Sample Submission Page */

/* ______________________ */

.submission-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem 0;
    gap: 0.75rem;
    align-items: center;
    max-width: 600px;
    min-width: 250px;
    background-color: var(--alt-clr);
    color: white;
    border-radius: 1em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* ‾‾‾‾‾‾‾‾‾‾‾ */

/* Form styles */

/* ___________ */

.block-input:focus, textarea:focus, .date-input:focus {
    outline: solid 0.2em white;
    outline-offset: 0.1em;
}

/* 3D submit btn */

input[type="submit"] {
    color: var(--main-bg-clr);
    background-color: white;
    font-weight: bold;
    padding: 0.75rem 2rem;
    border: solid 0.2rem var(--main-bg-clr);
    border-radius: 2rem;
    box-shadow: -3px 3px var(--main-bg-clr), -2px 2px var(--main-bg-clr), -1px 1px var(--main-bg-clr);
}

input[type="submit"]:hover {
    transform: translate(-1px, 1px);
    box-shadow: -2px 2px var(--main-bg-clr), -1px 1px var(--main-bg-clr);
}

input[type="submit"]:active {
    transform: translate(-2px, 2px);
    box-shadow: none;
}

.mb-05 {
    margin-bottom: 0.5em;
}

.block-input {
    display: block;
}

.block-label {
    display: block;
}

.form-input {
    width: 75%;
    min-width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.form-input>input {
    transition: all 0.3s ease;
    border: solid 0.2rem var(--main-bg-clr);
    width: 100%;
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.gym-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* constrain textarea */

.gym-description textarea {
    display: block;
    padding: 0 0.2rem;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 3em;
    max-height: 20em;
    height: 5em;
    border-radius: .5rem;
    border: solid 0.2rem var(--main-bg-clr);
}

.file-uploads {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

input[type="file"] {
    display: none;
}

.date-input {
    display: block;
    border: solid 0.2rem var(--main-bg-clr);
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.form-link {
    text-decoration: underline;
    font-weight: bold;
}

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

/* Terms and Conditions page */

/* _________________________ */

.terms {
    padding-top: 5.2rem;
    padding-bottom: 1rem;
    background-color: var(--alt-clr);
    color: black;
    font-weight: 400;
}

/* ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */

/* Mobile styles for search page */

/* _____________________________ */

@media only screen and (max-width: 600px) {
    .search {
        width: 90%;
    }
    .search input {
        padding: 0 2rem;
        font-size: 1rem;
        border: 0;
        height: 2rem;
        border-radius: 2rem;
    }
    .search-icon.fa-2x {
        display: block;
    }
    .search-icon.fa-3x {
        display: none;
    }
}